
<div class="classPageBox">

  <div class="classPageBox__navbox">
    <div class="classPageBox__navbox__links">
      <span>Account</span>
      <span>Classes</span>
    </div>
    <div class="classPageBox__navbox__lines">
      <div class="classPageBox__navbox__lines__linesBox">
        <hr>
        <hr>
        <hr>
      </div>
    </div>
  </div>


  <div class="classPageBox__topBoxes">
    <div class="classPageBox__topBoxes__classActions">
      <div class="classPageBox__topBoxes__classActions__periodBox">
        <hr>
        <h1>{{(classToDisplay | async)?.period}}</h1>
        <hr>
      </div>
      <div class="classPageBox__topBoxes__classActions__classAndStudentsBox">
        <span>{{(classToDisplay | async)?.name}}</span>
        <span>28 students</span>
      </div>
      <div class="classPageBox__topBoxes__classActions__chartsButton">
        <span (click)="showThatChartList()">CHARTS</span>
      </div>
      <div class="classPageBox__topBoxes__classActions__buttonsBox">
        <img src="**" alt="">
        <img src="**" alt="">
        <span>SAVE</span>
      </div>
    </div>
    <div class="classPageBox__topBoxes__studentCard" (click)="hideTheSidebarPlease()">
      <div class="classPageBox__topBoxes__studentCard__nameAndNogo">
        <h2 class="studentNameGoesHere"></h2>
        <div class="classPageBox__topBoxes__studentCard__nameAndNogo__list">
          <ul class="nogoList">

          </ul>
        </div>
      </div>
      <div class="classPageBox__topBoxes__studentCard__studentPicture">
        <img src="" alt="" class="studentsImage">
      </div>
    </div>
  </div>


  <div class="classPageBox__seatingChartBox">
    <div class="classPageBox__seatingChartBox__seatingChart">
    </div>
  </div>


</div>

<div class="classPageBox__sidebar notShown">
  <span>Charts</span>
  <div class="classPageBox__sidebar__charts" *ngFor="let chart of (classToDisplay | async)?.charts">
    <span>{{chart.name}}</span>
    <div *ngFor="let student of chart.students">
      <h2>{{student[0]}}</h2>
    </div>
  </div>
</div>
