body {
  margin: 0px;
  position: relative; }

html {
  padding-top: 0px; }

.loginPage {
  width: 100%;
  height: 100vh;
  background-color: #0C0805; }

.loginbox {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1475092980020-2094a10518d2?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
  .loginbox__title {
    border: 4px solid #fff;
    border-radius: 6px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 550px;
    min-height: 180px; }
    .loginbox__title h1 {
      font-size: 7.2em;
      font-weight: lighter;
      color: #FFF;
      margin: 0px; }
  .loginbox__input {
    width: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .loginbox__input > * {
      width: 40%;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px; }
    .loginbox__input > input:first-of-type {
      margin-top: 50px; }
    .loginbox__input input {
      padding: 15px 10px 15px 10px;
      font-size: 1.2em; }
    .loginbox__input span {
      background: -webkit-linear-gradient(left top, #292929, #232323);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #292929, #232323);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #292929, #232323);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #292929, #232323);
      /* Standard syntax */
      padding: 15px 12px 15px 12px;
      color: #FFF;
      font-size: 1.5em;
      text-align: center;
      width: 40%;
      user-select: none; }
      .loginbox__input span:hover {
        background: #1c1c1c;
        cursor: pointer; }
      .loginbox__input span:active {
        background: #101010; }

.classesPage {
  background-color: #FAFAFA;
  width: 100%;
  height: 100%; }

.classesBox {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .classesBox__hOne, .classesBox__card {
    width: 70%;
    min-height: 120px;
    border: 3px solid #0C0805;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    .classesBox__hOne h1, .classesBox__card h1 {
      font-size: 4.5em;
      margin: 0px; }
  .classesBox__card {
    margin-bottom: 15px;
    position: relative; }
    .classesBox__card:nth-of-type(n), .classesBox__card:nth-of-type(3n+4) {
      border-radius: 0px 75px 0px 75px; }
    .classesBox__card:nth-of-type(3n+1), .classesBox__card:nth-of-type(3n+3) {
      border-radius: 75px 0px 75px 0px; }
  .classesBox__hOne {
    margin-top: 60px;
    margin-bottom: 60px; }

.classPageBox {
  width: 680px;
  height: 880px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative; }
  .classPageBox__navbox {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: background-color 300ms ease-in-out;
    align-items: center;
    margin-bottom: 9px; }
    .classPageBox__navbox__links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      flex-basis: 50%; }
      .classPageBox__navbox__links span {
        font-size: 1.4em;
        margin-left: 10%;
        margin-right: 10%;
        transition: color 150ms ease-in-out;
        color: #FAFAFA; }
        .classPageBox__navbox__links span:hover {
          color: #d8d8d8; }
    .classPageBox__navbox__lines {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center; }
      .classPageBox__navbox__lines__linesBox {
        flex-basis: 50px;
        width: 50px;
        height: 40px;
        position: relative;
        margin-top: -5px; }
        .classPageBox__navbox__lines__linesBox hr {
          width: 30px;
          height: 3px;
          border: none;
          border-radius: 1px;
          background-color: #0C0805;
          margin-top: 6px;
          margin-bottom: 6px;
          position: absolute;
          transition: all 300ms ease-in-out; }
          .classPageBox__navbox__lines__linesBox hr:first-of-type {
            top: 5px; }
          .classPageBox__navbox__lines__linesBox hr:last-of-type {
            top: 25px; }
          .classPageBox__navbox__lines__linesBox hr:nth-of-type(2) {
            top: 15px; }
  .classPageBox__topBoxes {
    flex-basis: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px; }
    .classPageBox__topBoxes__classActions {
      justify-content: space-around;
      flex-basis: 43%;
      margin-left: 1%;
      margin-right: 1%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .classPageBox__topBoxes__classActions__periodBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; }
        .classPageBox__topBoxes__classActions__periodBox h1 {
          font-size: 3.5em;
          margin: 0px; }
        .classPageBox__topBoxes__classActions__periodBox hr {
          width: 20%;
          height: 2px;
          background-color: #0C0805;
          border: none; }
      .classPageBox__topBoxes__classActions__classAndStudentsBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; }
        .classPageBox__topBoxes__classActions__classAndStudentsBox span {
          font-size: 1.8em; }
      .classPageBox__topBoxes__classActions__chartsButton {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .classPageBox__topBoxes__classActions__chartsButton span {
          text-align: center;
          padding: 7px;
          width: 100%;
          background-color: #292929;
          color: #FFF;
          font-size: 1.3em;
          transition: all 150ms ease-in-out; }
          .classPageBox__topBoxes__classActions__chartsButton span:hover {
            background-color: #d8d8d8; }
      .classPageBox__topBoxes__classActions__buttonsBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center; }
        .classPageBox__topBoxes__classActions__buttonsBox__newStudentButton {
          padding: 4px;
          background-color: #61a58a;
          color: #FAFAFA;
          border-radius: 2px;
          transition: all 135ms ease-in-out; }
          .classPageBox__topBoxes__classActions__buttonsBox__newStudentButton:hover {
            background-color: #d8d8d8;
            color: #61a58a; }
        .classPageBox__topBoxes__classActions__buttonsBox__generateButton {
          padding: 4px;
          background-color: #292929;
          color: #FAFAFA;
          border-radius: 2px;
          height: 25px;
          width: 25px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          transition: all 135ms ease-in-out; }
          .classPageBox__topBoxes__classActions__buttonsBox__generateButton__generateIcon {
            transition: all 850ms ease-in-out;
            object-fit: scale-down;
            min-width: 70%;
            min-height: 70%; }
          .classPageBox__topBoxes__classActions__buttonsBox__generateButton:hover {
            background-color: #0C0805; }
        .classPageBox__topBoxes__classActions__buttonsBox__saveButton {
          padding: 4px;
          background-color: #d8d8d8;
          color: #0C0805;
          border-radius: 2px;
          transition: all 135ms ease-in-out; }
          .classPageBox__topBoxes__classActions__buttonsBox__saveButton:hover {
            color: #FAFAFA; }
    .classPageBox__topBoxes__studentCard {
      border: 1px solid #0C0805;
      height: 100%;
      flex-basis: 48%;
      margin-left: 1%;
      margin-right: 1%; }
  .classPageBox__seatingChartBox {
    margin-top: 20px;
    width: 100%;
    flex-basis: 55%;
    min-height: 594px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #0C0805; }
    .classPageBox__seatingChartBox__seatingChart {
      height: 90%;
      flex-basis: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .classPageBox__seatingChartBox__seatingChart__row {
        height: 11%;
        flex-basis: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .classPageBox__seatingChartBox__seatingChart__row__seatSpot {
          height: 100%;
          flex-basis: 10.7%;
          border: 1px solid #0C0805;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center; }
  .classPageBox__sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 270px;
    transition: all 500ms ease-in-out;
    background-color: #FAFAFA; }
    .classPageBox__sidebar > span:first-of-type {
      margin-top: 35px;
      font-size: 2.7em;
      padding: 9px 22px;
      border: 1px solid #0C0805;
      text-align: center;
      width: auto; }
    .classPageBox__sidebar__charts {
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center; }
      .classPageBox__sidebar__charts span {
        font-size: 2.3em;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        width: 100%;
        background-color: #d8d8d8;
        color: #0C0805;
        margin-bottom: 5px;
        transition: all 150ms ease-in-out; }
        .classPageBox__sidebar__charts span:hover {
          background-color: #0C0805;
          color: #FAFAFA; }

.spinIt {
  transform: rotate(720deg); }

.notShown {
  left: -220px;
  opacity: 0;
  box-shadow: 0px 0px 0px #0C0805; }

.showing {
  left: 0px;
  opacity: 1;
  box-shadow: 0px 0px 150px #0C0805;
  z-index: 2; }

.navhidden {
  background-color: #FFF; }
  .navhidden .classPageBox__navbox__links span {
    display: none;
    opacity: 0; }

.coverBox {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  display: none; }

.displaysCoverBox {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0px;
  left: 0px; }

.navshown {
  background-color: #292929; }
  .navshown .classPageBox__navbox__links span {
    display: inline;
    opacity: 1; }
  .navshown .classPageBox__navbox__lines__linesBox hr {
    background-color: #FAFAFA; }
    .navshown .classPageBox__navbox__lines__linesBox hr:first-of-type {
      transform: rotate(40deg);
      top: 10px; }
    .navshown .classPageBox__navbox__lines__linesBox hr:last-of-type {
      transform: rotate(-40deg);
      top: 10px; }
    .navshown .classPageBox__navbox__lines__linesBox hr:nth-of-type(2) {
      top: 25px; }

/*# sourceMappingURL=styles.css.map */
